<h1>All projects</h1>
<p><%= link_to "Add new project", new_project_path %></p>
<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.title, project %>
      <%= link_to "Edit", edit_project_path(project) %>
    </li>
  <% end %>
</ul>