<h1>All projects</h1>
<p><%= link_to "Add new project", new_project_path %></p>
<ul>
  <% @projects.each do |p| %>
    <li>
      <%= image_tag p.image.url(:small) if p.image.url(:small).present? %>
      <br>
    </li>
  <% end %>
</ul>

